button {
  margin: .3rem;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #fafafa;
}

input {
  display: block;
  margin: .3rem;
}

ul {
  margin: 0;
  padding: 0;
}


li {
  padding: .3rem;
  margin: .3rem;
  border: 1px solid black;
  list-style: none;
}